@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100vh;
    width: 100vw;
}
main {
   
    background-color: rgb(152, 152, 196);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    
}
main > section#login{

    overflow: hidden;
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 260px;
    height: 520px;
   border-radius: 15px;

}
section > div#img {
    display: block;
    background-image: url(../imagens/pexels-felixmittermeier-957040.jpg);
    height: 200px;
    background-size: cover;
    background-position: right bottom;
    background-color: black;
    background-repeat: no-repeat;

}
div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1 {
    font-size: 1.5em;
    text-align: center;
    
}
div#formulario > p {
    padding: 10px;
    font-size: 0.8em;
}
div > label {
    display: none;
}
div.campo{
display: flex;
flex-flow:row-reverse nowrap;
justify-content:center;

align-items:center;
 width: 100%;
 height: 40px;
 padding: 5px 0px;
 
 background-color: #26df82;
 margin:5px 0px;
 border-radius: 15px;
}
form div.campo > i {
    color: rgb(0, 0, 0);

    font-size: 2em;
    width: 40px;
    padding: 5px;

}
form div > input {
    background-color: #7ef1bcea;
    height: 40px;
    border-radius: 15px;
    border: none; 
    padding: 2px;
   
}
form > input {
    display: block;
    background-color: #7ef1bcea;
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
form > input:hover {
    background-color: #26df82;
}
form > a.botao {
    display: block;
    background-color: #7ef1bcea;
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color:white;
    padding-top: 10px;
}
a.botao > i {
    font-size: 0.8em;
}
form > a.botao:hover {
    background-color: #26df82;
    color: #5d26df;
}